

  <div class="form-container">
    <form>
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" placeholder="Votre nom" required>

      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" name="prenom" placeholder="Votre prénom" required>

      <label for="email">Email :</label>
      <input type="email" id="email" name="email" placeholder="Votre email" required>

      <label for="tel">Tel:</label>
      <input type="number" id="prenom" name="prenom" placeholder="00 000 000 000" required>

      <input type="submit" value="Envoyer">
    </form>
  </div>




 